{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery_cookie.js' %}" ></script>
  <script type="text/javascript">
function GetURLParameter(sParam)
	{
	    var sPageURL = window.location.search.substring(1);
	    var sURLVariables = sPageURL.split('&');
	    for (var i = 0; i < sURLVariables.length; i++)
	    {
	        var sParameterName = sURLVariables[i].split('=');
	        if (sParameterName[0] == sParam)
	        {
	            return sParameterName[1];
  }	 
  }
}
    var gasource = GetURLParameter('utm_source');
    var gamedium = GetURLParameter('utm_medium');
    var gacontent = GetURLParameter('utm_content');
    var gacampaign = GetURLParameter('utm_campaign');
    var gaterm = GetURLParameter('utm_term');
	
		
 $(document).ready(function(){
    if (gasource || gamedium || gacontent || gacampaign || gaterm) {
	    $('#field6').val(gasource);
		$('#field7').val(gamedium);
		$('#field8').val(gacontent);
		$('#field9').val(gacampaign);
		$('#field10').val(gaterm); 
		$.cookie('gasourceCookie', gasource, { expires: 7 });
		$.cookie('gamediumCookie', gamedium, { expires: 7 });
		$.cookie('gacontentCookie', gacontent, { expires: 7 });
	}
	else {
		var cookieSource = $.cookie('gasourceCookie');
		var cookieMedium = $.cookie('gamediumCookie');
		var cookieContent = $.cookie('gacontentCookie');
		$('#field6').val(cookieSource);
		$('#field7').val(cookieMedium);
		$('#field8').val(cookieContent);
		
	}
	 
	});
	

  </script>
</head>
<body>
{{ flatpage.content }}
<a href="#" id="button" class="btn btn-success">Button</a>
<input id="field6" value="" type="text" placeholder="Source Field"/>
<input id="field7" value="" type="text" placeholder="Medium Field"/>
<input id="field8" value="" type="text" placeholder="Content Field"/>
</body>
</html>